@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/source-sans-pro');
@import "tailwindcss";
/*
how to use fonts/colors: className="font-inter ...other properties"
Inter - Headers/h1/h2/..
Source Sans Pro - textareas/buttons/links 
*/

@theme {
    --font-inter: "Inter", "sans-serif";
    --font-ssp: "Source Sans Pro", "sans-serif";
    --color-background: #121063;
    --color-dark-background: #3ab7bf;
    --color-test1: #738290; 
    --color-test2: #0B7A75;
}


.marquee {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.marquee__track {
  display: flex;
  gap: var(--marquee-gap, 15px);
  width: max-content;
  animation: marquee var(--marquee-duration, 30s) linear infinite;
}

.marquee__item {
  flex: 0 0 auto;
  display: block;
}

@keyframes marquee {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
